body {
    background-color: #777;
}

h1 {
    color: #4aaaa5;
}

.main-container {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}


.foot {
    background-color:#4aaaa5;
    text-align: center;
    border-top: 5px solid #fff;
}

.my-row {
    margin: 20px;
}

.btn-primary {
    background-color: #4aaaa5;
    border-color: #777;
    color: #fff;
}

.card-body {
    text-align: center;
    background-color: #4aaaa5;
    color: #fff;
}
